:root {
  --su-Dropdown-content-transitionDuration: 0.3s;
  --su-Dropdown-content-transitionTiming: ease;
  --su-Dropdown-content-transform: translateY(-16px);
  --su-Dropdown-content-isVisible-transform: translateY(0);
  --su-Dropdown-content-transformOrigin: center center;
  --su-Dropdown-content-opacity: 0;
  --su-Dropdown-content-isVisible-opacity: 1;
}

.su-Dropdown {
  position: relative;
  display: inline-block;
}

.su-Dropdown-content {
  display: none;
  pointer-events: none;
  will-change: transform, opacity;
  opacity: var(--su-Dropdown-content-opacity);
  transform: var(--su-Dropdown-content-transform);
  transition-duration: var(--su-Dropdown-content-transitionDuration);
  transition-timing: var(--su-Dropdown-content-transitionTiming);
  transform-origin: var(--su-Dropdown-content-transformOrigin);
  transition-property: opacity, transform;
}

.su-Dropdown-content.is-visible {
  pointer-events: auto;
  opacity: var(--su-Dropdown-content-isVisible-opacity);
  transform: var(--su-Dropdown-content-isVisible-transform);
}
